# Please use Pandas dataFrame to work on the following questions
For each question, I have produced the output for you, so you know what I expect your code to generate. BE CAREFUL, once you run your code, my output will be gone.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# For this practice, please make sure that you download the "flights.csv" file to your Jupyter folder
# Read flights.csv as a dataframe called flight
import pandas as pd
df = pd.read_csv('C:/Users/HP/flights.csv',dtype=str)
df

,Airport code,Country,City,Path ID,Path Order,Flow Amount (t),Latitude,Longitude
0,PRG,Czech Republic,Prague,PRG-VIE,1,NaN,50.075538,14.4378
1,VIE,Austria,Vienna,PRG-VIE,2,250.0,48.208174,16.373819
2,PRG,Czech Republic,Prague,PRG-MSQ,1,NaN,50.075538,14.4378
3,MSQ,Belarus,Minsk,PRG-MSQ,2,1200.0,53.904540000000004,27.561524
4,PRG,Czech Republic,Prague,PRG-TMP,1,NaN,50.075538,14.4378
5,TMP,Finland,Tampere,PRG-TMP,2,800.0,61.497752,23.760954
6,PRG,Czech Republic,Prague,PRG-HAM,1,NaN,50.075538,14.4378
7,HAM,Germany,Hamburg,PRG-HAM,2,400.0,53.551085,9.993682000000002
8,PRG,Czech Republic,Prague,PRG-ATH,1,NaN,50.075538,14.4378
9,ATH,Greece,Athens,PRG-ATH,2,150.0,37.98381,23.727539
10,PRG,Czech Republic,Prague,PRG-DUB,1,NaN,50.075538,14.4378
11,DUB,Ireland,Dublin,PRG-DUB,2,500.0,53.349805,-6.26031
12,PRG,Czech Republic,Prague,PRG-MRS,1,NaN,50.075538,14.4378
13,MRS,France,Marseille,PRG-MRS,2,800.0,43.296482,5.36978
14,PRG,Czech Republic,Prague,PRG-AMS,1,NaN,50.075538,14.4378
15,AMS,Netherlands,Amsterdam,PRG-AMS,2,50.0,52.370216,4.895168
16,PRG,Czech Republic,Prague,PRG-WAW,1,NaN,50.075538,14.4378
17,WAW,Poland,Warsaw,PRG-WAW,2,550.0,52.229676,21.012229
18,PRG,Czech Republic,Prague,PRG-LIS,1,NaN,50.075538,14.4378
19,LIS,Portugal,Lisbon,PRG-LIS,2,130.0,38.722252000000005,-9.139337
20,PRG,Czech Republic,Prague,PRG-BEG,1,NaN,50.075538,14.4378
21,BEG,Serbia,Belgrad,PRG-BEG,2,920.0,44.786568,20.448922
22,PRG,Czech Republic,Prague,PRG-IST,1,NaN,50.075538,14.4378
23,IST,Turkey,Istanbul,PRG-IST,2,810.0,41.008238,28.978359
24,PRG,Czech Republic,Prague,PRG-DNK,1,NaN,50.075538,14.4378
25,DNK,Ukraine,Dnepropetrovsk,PRG-DNK,2,1300.0,48.464717,35.046183
26,PRG,Czech Republic,Prague,PRG-FRA,1,NaN,50.075538,14.4378
27,FRA,Germany,Frankfurt,PRG-FRA,2,1000.0,50.110921999999995,8.682127000000001
28,PRG,Czech Republic,Prague,PRG-SOF,1,NaN,50.075538,14.4378
29,SOF,Bulgaria,Sofia,PRG-SOF,2,380.0,42.697708,23.321868

In [3]:
# Question 1: Check the column head of the table
df = df.head()     
# display 
df

,Airport code,Country,City,Path ID,Path Order,Flow Amount (t),Latitude,Longitude
0,PRG,Czech Republic,Prague,PRG-VIE,1,NaN,50.075538,14.4378
1,VIE,Austria,Vienna,PRG-VIE,2,250.0,48.208174,16.373819
2,PRG,Czech Republic,Prague,PRG-MSQ,1,NaN,50.075538,14.4378
3,MSQ,Belarus,Minsk,PRG-MSQ,2,1200.0,53.904540000000004,27.561524
4,PRG,Czech Republic,Prague,PRG-TMP,1,NaN,50.075538,14.4378

In [4]:
# Question 2: Find how many rows are in the table (HINT: info.)
df = pd.read_csv('C:/Users/HP/flights.csv')
df.fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airport code     30 non-null     object
 1   Country          30 non-null     object
 2   City             30 non-null     object
 3   Path ID          30 non-null     object
 4   Path Order       30 non-null     int64
 5   Flow Amount (t)  30 non-null     float64
 6   Latitude         30 non-null     float64
 7   Longitude        30 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.0+ KB

In [5]:
# Question 3: What is the average flow amount?
# HINT: Here is one very good example of why the iloc function is useful -- the column name "Flow Amount (t)" would be
# inconvenient to type, so you might want to use the position of the column instead... If you prefer column name, that 
# is fine, too.
df.iloc[:,5].mean()

308.0

In [6]:
# Question 4: What is the highest flow amount?
#df_projects["Flow Amount (t)"].max()
df.iloc[:,5].max()

1300.0

In [7]:
# Question 5: Which city has the flow amount of 550?
# Hint: Recall back to our discussion on the relational algebra of SELECTION and the Python bracket notation 
df[df['Flow Amount (t)']==550]['City']

17    Warsaw
Name: City, dtype: object

In [15]:
# Now let's work with the GBI Excel sheet -- if you have done the IO lab, the file should already be in your working folder. 
# Otherwise, please go to canvas and find the file under the IO lab, download it to your working folder. Read GBI file and name it
# GBI
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('GBI.xlsx')
df

,YEAR,MONTH,DAY,Customer,CustomerDescr,City,Salesorg,Country,OrderNumber,OrderItem,...,Division,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostOfGoodsManufactured,Revenue USD,Discount USD,Cogm USD
0,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,10,...,BI,2,ST,6000.00,USD,300.0,2800.00,6000.00,300.0,2800.0
1,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,20,...,BI,5,ST,16000.00,USD,800.0,7500.00,16000.00,800.0,7500.0
2,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,30,...,BI,1,ST,2400.00,USD,120.0,1200.00,2400.00,120.0,1200.0
3,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,40,...,BI,1,ST,1600.00,USD,80.0,900.00,1600.00,80.0,900.0
4,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,50,...,BI,7,ST,11900.00,USD,595.0,7000.00,11900.00,595.0,7000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48379,2011,12,31,19000,Fahrpott,Bochum,DN00,DE,103318,80,...,AS,1,ST,43.35,EUR,0.0,18.57,58.37,0.0,25.0
48380,2011,12,31,19000,Fahrpott,Bochum,DN00,DE,103318,90,...,AS,2,ST,31.22,EUR,0.0,13.37,42.04,0.0,18.0
48381,2011,12,31,19000,Fahrpott,Bochum,DN00,DE,103318,100,...,AS,1,ST,27.75,EUR,0.0,11.88,37.37,0.0,16.0
48382,2011,12,31,19000,Fahrpott,Bochum,DN00,DE,103318,110,...,AS,2,ST,48.56,EUR,0.0,20.79,65.39,0.0,28.0
48383,2011,12,31,19000,Fahrpott,Bochum,DN00,DE,103318,120,...,AS,1,ST,34.68,EUR,0.0,14.85,46.70,0.0,20.0

In [10]:
# Question 6: What is the average REVENUE for each Product Category? [HINT: You need to group by Product Category]
df.groupby('Product Category')['Revenue'].mean()

Product Category
ACC     108.261038
EBI    8610.636888
ORB    7796.678130
ROB    8313.303493
TOU    8299.358516
TRE    1481.536454
Name: Revenue, dtype: float64

In [37]:
# Question 7: How many transations have the lowest revenue?
df.loc[(df['Revenue'] == 14.7)]

,YEAR,MONTH,DAY,Customer,CustomerDescr,City,Salesorg,Country,OrderNumber,OrderItem,...,Division,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostOfGoodsManufactured,Revenue USD,Discount USD,Cogm USD
107,2007,1,3,24000,Velodrom,Magdeburg,DN00,DE,100011,10,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
125,2007,1,4,15000,Bavaria Bikes,München,DS00,DE,100013,50,...,AS,1,ST,14.7,EUR,0.74,6.68,19.79,1.00,9.0
132,2007,1,4,23000,Red Light Bikes,Hamburg,DN00,DE,100014,60,...,AS,1,ST,14.7,EUR,0.44,6.68,19.79,0.59,9.0
226,2007,1,6,24000,Velodrom,Magdeburg,DN00,DE,100022,80,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
350,2007,1,15,18000,Drahtesel,Leipzig,DN00,DE,100034,80,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10370,2007,12,19,19000,Fahrpott,Bochum,DN00,DE,100676,70,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
10429,2007,12,21,20000,Neckarrad,Heidelberg,DS00,DE,100681,140,...,AS,1,ST,14.7,EUR,0.44,6.68,19.79,0.59,9.0
10439,2007,12,21,24000,Velodrom,Magdeburg,DN00,DE,100682,70,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
10474,2007,12,26,21000,Ostseerad,Anklam,DN00,DE,100685,70,...,AS,1,ST,14.7,EUR,0.00,6.68,19.79,0.00,9.0
10550,2007,12,31,22000,Rädlelland,Stuttgart,DS00,DE,100692,30,...,AS,1,ST,14.7,EUR,0.44,6.68,19.79,0.59,9.0

In [12]:
# Question 8: What is the average revenue for each year? 
df.groupby('YEAR')['Revenue'].mean()

YEAR
2007    4999.140553
2008    5129.561252
2009    4830.588585
2010    4983.660594
2011    5183.147895
Name: Revenue, dtype: float64

In [32]:
# Question 9: How many unique product names are there? 
# HINT: 1. ProductDecr has all product names
# 2. unique() returns an ARRAY
# 3. numpy has a size function that returns the size of an array. Check the Web and learn how to use it

df_nique=np.size(df['CustomerDescr'].unique())
df_nique

24